APP_MODE=groq

OPENROUTER_API_KEY=
GROQ_API_KEY=
CHAINLIT_AUTH_SECRET=

SUPABASE_URL_LOCAL=
SUPABASE_URL_PROD=

SUPABASE_PUB_KEY_LOCAL=
SUPABASE_PUB_KEY_PROD=

SUPABASE_SECRET_KEY_LOCAL=
SUPABASE_SECRET_KEY_PROD=

DATABASE_URL_LOCAL=
DATABASE_URL_PROD=
